{% extends 'profile/profile.html' %}
 {% load static %} 
 {% block content%}
 

      <main class="col-md-9">
        <article class="card" >
          <header class="card-header">
            <strong class="d-inline-block mr-3">Change your password</strong>
          </header>
          <div class="card-body">
          <div class="text-right">
          
          </div>
            <div class="row">
              <div class="col-md-12">
                <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data" novalidate="novalidate">
                  {% csrf_token %}
                  <div class="form-group">
                  <label>Current Password</label>
                 <input type="password" name="current_password" id="password1" onkeyup="validateChangePassword1()" placeholder="Current password" class="form-control">
                 <span id="password1-error"class='change'></span>
                  
                  </div>
                  <div class="form-group">
                  <label>Create new password</label>
                   <input type="password" name="new_password" id="password2" onkeyup="validateChangePassword2()" placeholder="Create new password" class="form-control">
                   <span id="password2-error"class='change'></span>
                 
                  </div>
                   <div class="form-group">
                  <label>Confirm new password</label>
                   <input type="password" name="confirm_password" id="password3" onkeyup="validateChangePassword3()" placeholder="Confirm new password" class="form-control">
                   <span id="password3-error"class='change'></span>
                 
                   
                 
                  </div>
                      
                  <input type="submit" value="submit" onclick="return validateFormProfileChange()" class="btn btn-primary">
                  <span id="submit-error" class="mt-5"></span>
                </form>
              </div>
            </div>
          </div>
        </article>
      </main>
 
 {% endblock %}

