{% extends 'profile/profile.html' %} {% load static %} {% block content%}

<main class="col-12 col-md-9">
  <article class="card">
    <header class="card-header">
      <strong class="d-inline-block mr-3">Your order history</strong>
    </header>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12">
        {% if orders %}
          <table class="table table-hover table-responsive"  >
            <thead>
              <tr>
                <th scope="col ">Order #</th>
                 <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                <th scope="col">Billing name</th>
                <th scope="col"></th>
                 <th scope="col"></th>
                 <th scope="col"></th>
                <th scope="col">Phone</th>
                 <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                <th scope="col">Order Total</th>
                 <th scope="col"></th>
                  <th scope="col"></th>
                <th scope="col">Date</th>
                 <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                <th scope="col">Action</th>
             
              </tr>
            </thead>
             
            <tbody>
            
              <tr>
                {% for order in orders %}
                <th scope="row">
                  <a href="{% url 'order_details' order.order_number %}"
                    >{{order.order_number}}</a
                  >
                </th>
                  <td></td>
                  <td></td>
                   <td></td>
                <td>{{order.full_name}}</td>
                <td></td>
                <td></td>
                 <td></td>
                <td>{{order.phone}}</td>
                <td></td>
                <td></td>
                 <td></td>
                <td>₹{{order.order_total}}</td>
                <td></td>
                <td></td>
                
                  <td>₹{{order.created_at}}</td>
                <td></td>
                <td></td>
                
                  
                <td>
                
                
                
                
                                 {% if order.status == 'Delivered' %}
                                 {% if today > add %}
                 
<td><button type="button" class="btn btn-" data-toggle="modal" data-target="#a">
  Delivered
</button>
<p class="text-center text-danger">no return available</p>
</td>
{% else %}
 
                <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#a{{order.id}}">
  Return
</button>

<!-- Modal -->
<div class="modal fade" id="a{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h5 class="modal-title" id="exampleModalLabel">You are Returning  #{{order.order_number}}</h5>
      </div>
      <div class="modal-footer">
     
       {% comment %} <a href="" class="btn btn-warning btn-sm">Return</a> {% endcomment %}
      <form action="{% url 'return_order' order.order_number %}" method="post" class="form-control  d-flex justify-content" style="padding:0" id="form">
        {% csrf_token %}
                                <input type="text" class="form-control" id="back"  name="return_reason" required >
                              <button type="submit" onclick="orderReturn()"  class="btn btn-warning" >Return</button>
                          
        
        
        
        </form>
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div></td>

{%endif%}
   {% elif order.status == 'Cancelled' %}
     <td><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#a">
  Cancelled
</button></td>
</td>
   {% elif order.status == 'Returned' %}
     <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#a">
  Returned
</button></td>
{% else %}
  <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#a{{order.id}}">
  Cancel
</button>

<!-- Modal -->
<div class="modal fade" id="a{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">You are Cancelling  #{{order.order_number}}</h5>
      </div>
      <div class="modal-footer">
        <a href="{% url 'cancel_order' order.order_number %}" class="btn btn-danger btn-sm">Cancel</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>  </td>{% endif %}
                    
                
                
                
                
                
                
                
                
               
                
                
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h3 class="text-center" >no orders<h3>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
     <!-- Start pagination -->
          <nav class="mb-3 mt-3" aria-label="page navigation sample">
          {% if orders.has_other_pages %}
            <ul class="pagination">
            {% if orders.has_previous %}
              <li class="page-item"><a class="page-link "href="?page={{orders.previous_page_number}}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link "href="#">Previous</a></li>
              {% endif %}
              {% for i in orders.paginator.page_range %}
              {% if orders.number == i %}
               <li class="page-item active"><a class="page-link "href="#">{{i}}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link "href="?page={{i}}">{{i}}</a></li>
               {% endif %}
               {% endfor %}
               {% if orders.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{orders.next_page_number}}">Next</a></li>
              {% else %}
               <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
          <!-- End pagination -->
</main>

{% endblock %}
