{% extends 'adminpanel/baseadmin.html' %}
{% load static %}
{%block content%}
 <div class= " container text-center">
 
            {% if users %}
            <h3>users</h3>
            <br>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">first name</th>
                <th scope="col">last name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">status</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in users %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>
                {% if i.is_active %}
                <td>Unblocked</td>
                {% else %}
                <td>blocked</td>
                {% endif %}
                 {% if i.is_active %}
                 
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#a{{i.id}}">
  block
</button>

<!-- Modal -->
<div class="modal fade" id="a{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are blocking {{i.first_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <a href="{% url 'blockuser' i.id %}" class="btn btn-danger btn-sm">Block</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div></td>
                    {% else %}
                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#a{{i.id}}">
  unblock
</button>

<!-- Modal -->
<div class="modal fade" id="a{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are unblocking {{i.first_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <a href="{% url 'blockuser' i.id %}" class="btn btn-success btn-sm">Unblock</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div> </td>
                     {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
         
          {% endif %}
           
           {% if categories %}
           <h3>categories</h3>
           <br>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">category name</th>
                <th scope="col">created on</th>
                <th scope="col">updated on</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in categories %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.category_name}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.modified_at}}</td>
                
                <td><a href="{% url 'delete_category' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_category' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
          {% endif %}
          
            {% if sub %}
            <h3>sub-categories</h3>
            <br>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">sub category name</th>
                <th scope="col">category</th>
                <th scope="col">created on</th>
                <th scope="col">updated on</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in sub %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.sub_category_name}}</td>
                <td>{{i.category}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.modified_at}}</td>
                
                <td><a href="{% url 'delete_sub_category' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_sub_category' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
         
          {% endif %}
          
            {% if products %}
            <h3>products</h3>
            <br>
         <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Product name</th>
                <th scope="col">description</th>
                <th scope="col">image</th>
                <th scope="col">price</th>
                <th scope="col">stock</th>
                <th scope="col">available</th>
                <th scope="col">sub category</th>
                <th scope="col">category</th>
                <th scope="col">created on</th>
                <th scope="col">updated on</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in products %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.product_name}}</td>
                <td  class="text-wrap" style="max-width:40px;overflow:overlay">{{i.description}}</td>
                <td><img src="{{i.image1.url}}" style="height:100px;width:100px"></td>
                <td>{{i.price}}</td>
                <td>{{i.stock}}</td>
                <td>{{i.is_available}}</td>
                <td>{{i.sub_category}}</td>
                <td>{{i.category}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.modified_at}}</td>
                
                <td><a href="{% url 'delete_product' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_product' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}

             {% if variations %}
             <h3>variations</h3>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">product</th>
                <th scope="col">variation category</th>
                <th scope="col">variation value</th>
                <th scope="col">stock</th>
                <th scope="col">available</th>
                <th scope="col">created</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in variations %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.product}}</td>
                <td>{{i.variation_category}}</td>
                <td>{{i.variation_value}}</td>
                <td>{{i.stock}}</td>
                <td>{{i.is_active}}</td>
                <td>{{i.created_at}}</td>
                
                <td><a href="{% url 'delete_variation' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_variation' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}


                    {% if orders %}
                    <h3>orders</h3>
         <table class="table table table-responsive">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">amount</th>
                <th scope="col">payment mode</th>
                <th scope="col">tracking id</th>
                <th scope="col">status</th>
                <th scope="col">action</th> 
                <th></th>
              </tr>
            </thead>
            <tbody id="myTable" >
            
                {% for i in orders %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.full_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>
                <td>₹{{i.order_total}}</td>
                <td>{{i.payment.payment_method}}</td>
                <td>{{i.order_number}}</td>
                <td>{{i.status}}</td>
                <td>
                    {% if i.status == 'Delivered' %}
                    <label class="badge badge-success">Delivered</label>
                    {% elif i.status == 'Cancelled' %}
                    <label class="badge badge-danger">Cancelled</label>
                    {% elif i.status == 'Returned' %}
                    <label class="badge badge-warning">Returned</label>
                    {%else%}
                    <label class="badge badge-info" type="button"  data-toggle="modal" data-target="#myModal{{i.id}}" id="Modal_button">Change</button>
                    {%endif%}
                </td>
                  <td>
                  {% if i.status == 'Order Confirmed' %}
                  
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancel{{i.id}}">
                    Cancel
                  </button>
                  {% elif i.is_returned %}        
                    <b>Reason : </b><p>{{i.return_reason}}</p>
                  {% endif %}
                </td>
              </tr>

       
                
                {% comment %} <td><a href="" class="btn btn-danger btn-sm">Delete</a> {% endcomment %}
                <!-- Status Modal -->
<div class="modal fade" id="myModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Change Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'update_order' i.id %}" method="POST">
          {% csrf_token %}

          {% if i.status == 'Order Confirmed' %}

          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled checked>
            <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Shipped">
            <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Out for delivery" disabled>
            <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Delivered" disabled>
            <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
          </div>

          {% elif i.status == 'Shipped' %}

          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled>
            <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Shipped" disabled checked>
            <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Out for delivery">
            <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Delivered" disabled>
            <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
          </div>

          {% else %}

          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled>
            <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Shipped" disabled>
            <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Out for delivery"  disabled checked>
            <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Delivered">
            <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
          </div>

          {% endif %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
    </div>
  </div>
</div>




               <!--Cancel Modal -->
          <div class="modal fade" id="cancel{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left">
                  Are you sure to cancel the order <b>#{{i.order_number}}</b>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <a type="button" href="{% url 'cancel_order' i.order_number %}" class="btn btn-primary">Yes</a>
                </div>
              </div>
            </div>
          </div>

          
        
      {% endfor %}
        
    </tbody>
  </table>
{% endif %}

  {% if coupons %}
   <h3>coupons</h3>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Coupon code</th>
                <th scope="col">Discount</th>
                <th scope="col">Min price</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">available</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in coupons %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.code}}</td>
                <td>{{i.discount}}</td>
                  <td>{{i.min_value}}</td>
                  <td>{{i.valid_at}}</td>
                <td>{{i.active}}</td>
                
                <td><a href="{% url 'deleteCoupon' i.id %}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'updateCoupon' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}

          <br>
          {% if not users %}
          <h4 class="text-danger">no such users</h4>
          {% endif %}
          <br>
          {% if not categories %}
          <h4 class="text-danger">no such categories</h4>
          {% endif %}
          <br>
          {% if not sub %}
          <h4 class="text-danger">no such sub categories</h4>
          {% endif %}
          <br>
          {% if not products %}
          <h4 class="text-danger">no such products</h4>
          {% endif %}
          <br>
            {% if not variations %}
          <h4 class="text-danger">no such variations</h4>
          {% endif %}
          <br>
           {% if not orders %}
          <h4 class="text-danger">no such orders</h4>
          {% endif %}
          <br>
           {% if not coupons %}
          <h4 class="text-danger">no such coupons</h4>
          {% endif %}
          <br>
          
          </div>
{%endblock%}