{% extends 'adminpanel/baseadmin.html' %}
{% load static %}
{% block content %}
<div class= "container text-center">
	{% if messages %}
					<div id="messages" class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show text-center"{% endif %} role="alert">
        {% if message.level == DEFAdivT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}
<h2 class="text-center text-white">Manage Orders</h2>
  

            {% if orders %}
         <table class="table table table-responsive">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">amount</th>
                <th scope="col">payment mode</th>
                <th scope="col">tracking id</th>
                <th scope="col">status</th>
                <th scope="col">action</th> 
                <th></th>
              </tr>
            </thead>
            <tbody id="myTable" >
            
                {% for i in orders %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.full_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>
                <td>₹{{i.order_total}}</td>
                <td>{{i.payment.payment_method}}</td>
                <td>{{i.order_number}}</td>
                <td>{{i.status}}</td>
                <td>
                    {% if i.status == 'Delivered' %}
                    <label class="badge badge-success">Delivered</label>
                    {% elif i.status == 'Cancelled' %}
                    <label class="badge badge-danger">Cancelled</label>
                    {% elif i.status == 'Returned' %}
                    <label class="badge badge-warning">Returned</label>
                    {%else%}
                    <label class="badge badge-info" type="button"  data-toggle="modal" data-target="#myModal{{i.id}}" id="Modal_button">Change</button>
                    {%endif%}
                </td>
                  <td>
                  {% if i.status == 'Order Confirmed' %}
                  
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancel{{i.id}}">
                    Cancel
                  </button>
                  {% elif i.is_returned %}        
                    <b>Reason : </b><p>{{i.return_reason}}</p>
                  {% endif %}
                </td>
              </tr>

       
                
                {% comment %} <td><a href="" class="btn btn-danger btn-sm">Delete</a> {% endcomment %}
                <!-- Status Modal -->
<div class="modal fade" id="myModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Change Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'update_order' i.id %}" method="POST">
          {% csrf_token %}

          {% if i.status == 'Order Confirmed' %}

          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled checked>
            <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Shipped">
            <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Out for delivery" disabled>
            <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Delivered" disabled>
            <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
          </div>

          {% elif i.status == 'Shipped' %}

          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled>
            <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Shipped" disabled checked>
            <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Out for delivery">
            <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Delivered" disabled>
            <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
          </div>

          {% else %}

          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled>
            <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Shipped" disabled>
            <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Out for delivery"  disabled checked>
            <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
          </div>
          <div class="row mb-2">
            <input class="ml-3" type="radio" name="status" value="Delivered">
            <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
          </div>

          {% endif %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
    </div>
  </div>
</div>




               <!--Cancel Modal -->
          <div class="modal fade" id="cancel{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left">
                  Are you sure to cancel the order <b>#{{i.order_number}}</b>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <a type="button" href="{% url 'cancel_order' i.order_number %}" class="btn btn-primary">Yes</a>
                </div>
              </div>
            </div>
          </div>

          
        
      {% endfor %}
        
    </tbody>
  </table>
</div>      
                    
                   
              
          {% else %}
          <h4 class= "text-center">No records</h4>
          {% endif %}
                <!-- Start pagination -->
          <nav class="mb-3 mt-3" aria-label="page navigation sample">
          {% if orders.has_other_pages %}
            <ul class="pagination">
            {% if orders.has_previous %}
              <li class="page-item"><a class="page-link "href="?page={{orders.previous_page_number}}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link "href="#">Previous</a></li>
              {% endif %}
              {% for i in orders.paginator.page_range %}
              {% if orders.number == i %}
               <li class="page-item active"><a class="page-link "href="#">{{i}}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link "href="?page={{i}}">{{i}}</a></li>
               {% endif %}
               {% endfor %}
               {% if orders.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{orders.next_page_number}}">Next</a></li>
              {% else %}
               <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
          <!-- End pagination -->
          </div>

      
{% endblock %}