{% extends 'base.html' %} {% load static %} {%block content%}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Product Details Page</h1>
        <nav class="d-flex align-items-center">
          <a href="">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
          <a href="#">product-details</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->

<section class="login_box_area section_gap">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="s_Product_carousel">
          <div class="single-prd-item  zoom-image-hover">
            <img
              class="img-fluid"
              src="{{ single_product.image1.url }}"
              alt=""
            />
          </div>
          <div class="single-prd-item  zoom-image-hover">
            <img
              class="img-fluid"
              src="{{ single_product.image2.url }}"
              alt=""
            />
          </div>
          <div class="single-prd-item  zoom-image-hover">
            <img
              class="img-fluid"
              src="{{ single_product.image3.url }}"
              alt=""
            />
          </div>
        </div>
        
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            <h3>{{single_product.product_name }}</h3>
            <h2>₹{{single_product.price}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#"
                  ><span>{{single_product.category}}</span>
                  :{{single_product.sub_category}}
                </a>
              </li>
              {% if single_product.stock <= 0 %}
              <li>
                <a href="#"><span>Availibility</span> : Out of Stock</a>
              </li>
              {% else %}
              <li>
                <a href="#"><span>Availibility</span> :In Stock</a>
              </li>
              {% endif %}
            </ul>
            <p>{{single_product.description}}.</p>
            <div
              class="item-option-select"
              style="height: 87px; margin-top: -27px"
            >
              <h6>choose color</h6>
              <select name="color" class="form-control" required>
                <option value="" disabled selected>select</option>
                {% for i in single_product.variation_set.colors %}
                <option value="{{i.variation_value | lower }}">
                  {{i.variation_value | capfirst }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="item-option-select">
              <h6>choose size</h6>
              <select name="size" class="form-control" required>
                <option value="" disabled selected>select</option>
                {% for i in single_product.variation_set.sizes %}
                <option value="{{i.variation_value | lower }}">
                  {{i.variation_value | capfirst }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="card_area d-flex align-items-center m-5">
              {% if single_product.stock <= 0 %}
              <h5 class="text-danger mt-5"  style="margin-left:-92px">Out of Stock</h5>
              {% else %}

              <button
                type="submit"
                class="primary-btn"
                style="margin-top: 35px; margin-left: -87px"
              >
                Add to Cart
              </button>

              {% endif %} {% comment %}
              <a
                class="icon_btn mt-4"
                style="margin: -12px; margin-left: 3px"
                href="#"
                ><i class="lnr lnr lnr-heart"></i
              ></a>
              {% endcomment %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Single Product Area =================-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/xzoom.js'%}"></script>
<script>
  $(".zoom-image-hover").zoom();
</script>

{%endblock%}
