{% extends 'baseadmin.html' %}
{% load static %}
{% block content %}
<div class= "container text-center">
	{% if messages %}
					<div id="messages" class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show text-center"{% endif %} role="alert">
        {% if message.level == DEFAdivT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<a href="{% url 'add_sub_category' %}" class="btn btn-primary btn-md">Add</a>
            {% if sub %}
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">sub category name</th>
                <th scope="col">category</th>
                <th scope="col">created on</th>
                <th scope="col">updated on</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in sub %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.sub_category_name}}</td>
                <td>{{i.category}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.modified_at}}</td>
                
                <td><a href="{% url 'delete_sub_category' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_sub_category' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h4 class= "text-center">No records</h4>
          {% endif %}
             <!-- Start pagination -->
          <nav class="mb-3 mt-3" aria-label="page navigation sample">
          {% if sub.has_other_pages %}
            <ul class="pagination">
            {% if sub.has_previous %}
              <li class="page-item"><a class="page-link "href="?page={{sub.previous_page_number}}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link "href="#">Previous</a></li>
              {% endif %}
              {% for i in sub.paginator.page_range %}
              {% if products.number == i %}
               <li class="page-item active"><a class="page-link "href="#">{{i}}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link "href="?page={{i}}">{{i}}</a></li>
               {% endif %}
               {% endfor %}
               {% if sub.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{sub.next_page_number}}">Next</a></li>
              {% else %}
               <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
          <!-- End pagination -->
        </div>
{% endblock %}