{% extends 'baseadmin.html' %}
{% load static %}
{%block content%}
 <div class= " container text-center">
 
            {% if users %}
            <h3>users</h3>
            <br>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">first name</th>
                <th scope="col">last name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">status</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in users %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>
                {% if i.is_active %}
                <td>Unblocked</td>
                {% else %}
                <td>blocked</td>
                {% endif %}
                 {% if i.is_active %}
                 
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#a{{i.id}}">
  block
</button>

<!-- Modal -->
<div class="modal fade" id="a{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are blocking {{i.first_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <a href="{% url 'blockuser' i.id %}" class="btn btn-danger btn-sm">Block</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div></td>
                    {% else %}
                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#a{{i.id}}">
  unblock
</button>

<!-- Modal -->
<div class="modal fade" id="a{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are unblocking {{i.first_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <a href="{% url 'blockuser' i.id %}" class="btn btn-success btn-sm">Unblock</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div> </td>
                     {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
         
          {% endif %}
           
           {% if categories %}
           <h3>categories</h3>
           <br>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">category name</th>
                <th scope="col">created on</th>
                <th scope="col">updated on</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in categories %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.category_name}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.modified_at}}</td>
                
                <td><a href="{% url 'delete_category' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_category' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
          {% endif %}
          
            {% if sub %}
            <h3>sub-categories</h3>
            <br>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">sub category name</th>
                <th scope="col">category</th>
                <th scope="col">created on</th>
                <th scope="col">updated on</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in sub %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.sub_category_name}}</td>
                <td>{{i.category}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.modified_at}}</td>
                
                <td><a href="{% url 'delete_sub_category' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_sub_category' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
         
          {% endif %}
          
            {% if products %}
            <h3>products</h3>
            <br>
         <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Product name</th>
                <th scope="col">description</th>
                <th scope="col">image</th>
                <th scope="col">price</th>
                <th scope="col">stock</th>
                <th scope="col">available</th>
                <th scope="col">sub category</th>
                <th scope="col">category</th>
                <th scope="col">created on</th>
                <th scope="col">updated on</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in products %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.product_name}}</td>
                <td  class="text-wrap" style="max-width:40px;overflow:overlay">{{i.description}}</td>
                <td><img src="{{i.image1.url}}" style="height:100px;width:100px"></td>
                <td>{{i.price}}</td>
                <td>{{i.stock}}</td>
                <td>{{i.is_available}}</td>
                <td>{{i.sub_category}}</td>
                <td>{{i.category}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.modified_at}}</td>
                
                <td><a href="{% url 'delete_product' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_product' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          <br>
          {% if not users %}
          <h4 class="text-danger">no such users</h4>
          {% endif %}
          <br>
          {% if not categories %}
          <h4 class="text-danger">no such categories</h4>
          {% endif %}
          <br>
          {% if not sub %}
          <h4 class="text-danger">no such sub categories</h4>
          {% endif %}
          <br>
          {% if not products %}
          <h4 class="text-danger">no such products</h4>
          {% endif %}
          <br>
          
          </div>
{%endblock%}