{% extends 'base.html' %}
{% load static %}
{%block content%}
<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
        {% if not cart_items %}
        <h2 class="text-center">Your Shopping Cart is empty</h2>
        <br>
        <div class="text-center">
        <a href="{% url 'shop' %}" class="btn btn-primary">continue Shopping</a>
        </div>
        {% else %}
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>

                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
              
                            {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                           <a href="#">  <img src="{{ cart_item.product.image1.url }}" style="width:100px;height:100px" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                          <a href="{{ cart_item.product.get_url }}">  <p class = "text-primary medium">{{ cart_item.product.product_name }}</p></a>
                                          <p class = "text-danger small">
                                          {% if cart_item.variations.all %}
                                          {% for item in cart_item.variations.all %}
                                          {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                          {% endfor %}
                                          {% endif %}
                                          </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>₹{{ cart_item.product.price }}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="{{cart_item.id}}" maxlength="12" value='{{ cart_item.quantity }}' title="Quantity:"
                                            class="input-text qty"> 
                                            <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                                            {% csrf_token %}
                                            {% comment %} <input type="text" name="qty" id="{{cart_item.id}}" max="12" value='{{ cart_item.quantity }}' title="Quantity:"
                                            class="input-text qty"> {% endcomment %}
                                            {% for item in cart_item.variations.all %}
                                            <input type="hidden" name="{{ item.variation_category | lower}}" value="{{ item.variation_value | capfirst }}">
                                            {% endfor %}
                                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="submit"><i class="lnr lnr-chevron-up"></i></button>
                                             <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"><button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button></a>
                                            </form>
                                       
                                    </div>
                                </td>
                                <td>
                                    <h5>₹{{ cart_item.sub_total }}</h5>
                                </td>
                                <td>
                                    <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id  %}" onclick="" class="btn btn-danger" >Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="bottom_button">
                                <td>
                                    
                                </td>
                                <td>
                                

                                </td>
                                <td>
                                 <h5>Net total</h5>

                                </td>
                                <td>
                                 <h5>₹{{total}}</h5>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                
                                <td>
                                    <h5>tax</h5>
                                </td>
                                <td>
                                    <h5>₹{{tax}}</h5>
                                </td>
                            </tr>
                             <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>grand total</h5>
                                </td>
                                <td>
                                    <h5>₹{{grand_total}}</h5>
                                </td>
                            </tr>
                            <tr class="shipping_area">
                               
                               
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" style="font-size: 13px" href="{% url 'shop' %}">Continue Shopping</a>
                                       
                                        <a class="primary-btn" href="{% url 'checkout' %}">Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
     {% comment %} <script type="text/javascript">
     $(document).on('submit','#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url :'add_cart/<int:product_id>/',
            data:{

            }
        })
     })
     </script>  {% endcomment %}
    <!--================End Cart Area =================-->
    {% comment %} <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    swal("Are you sure you want to do this?", {
  buttons: ["Oh noez!", true],
  });
    </script> {% endcomment %}
{%endblock%}