{% extends 'profile.html' %}
 {% load static %} 
 {% block content%}
 

      <main class="col-md-9">
        <article class="card" >
          <header class="card-header">
            <strong class="d-inline-block mr-3">Change your password</strong>
          </header>
          <div class="card-body">
          <div class="text-right">
          
          </div>
            <div class="row">
              <div class="col-md-12">
                <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                  <label>Current Password</label>
                 <input type="password" name="current_password" placeholder="Current password" class="form-control" required>
                  
                  </div>
                  <div class="form-group">
                  <label>Create new password</label>
                   <input type="password" name="new_password" placeholder="Create new password" class="form-control" required>
                 
                  </div>
                   <div class="form-group">
                  <label>Confirm new password</label>
                   <input type="password" name="confirm_password" placeholder="Confirm new password" class="form-control" required>
                 
                   
                 
                  </div>
                      
                  <input type="submit" value="submit" class="btn btn-primary">
                </form>
              </div>
            </div>
          </div>
        </article>
      </main>
 
 {% endblock %}

