{% extends 'base.html' %}
{% load static %}
{% block content%}
<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
     <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            
            <div class="cupon_area">
                <div class="check_title">
                    <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
                </div>
                <input type="text" placeholder="Enter coupon code">
                <a class="tp_btn" href="#">Apply Coupon</a>
            </div>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                        <form class="row contact_form" action="{% url 'place_order' %}" method="post">
                         {% csrf_token %}
                         
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="first" name="first_name" placeholder="First name" required>
                                {% comment %} <span class="placeholder" data-placeholder="First name"></span> {% endcomment %}
                            </div>
                            

                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" name="last_name" placeholder="Last name"  required>
                                {% comment %} <span class="placeholder" data-placeholder="Last name"></span> {% endcomment %}
                            </div>
                            {% comment %} <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="company" name="company" placeholder="Company name">
                            </div> {% endcomment %}
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="number" name="phone" placeholder="Mob" required>
                                {% comment %} <span class="placeholder" data-placeholder="Phone number"></span> {% endcomment %}
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                                {% comment %} <span class="placeholder" data-placeholder="Email Address"></span> {% endcomment %}
                            </div>
                             
                            {% comment %} <div class="col-md-12 form-group p_star">
                                <select class="country_select" required>
                                    <option value="1">Country</option>
                                    <option value="2">Country</option>
                                    <option value="4">Country</option>
                                </select>
                            </div> {% endcomment %}
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="address_line_1" placeholder="Address line 01" required>
                                {% comment %} <span class="placeholder" data-placeholder="Address line 01"></span> {% endcomment %}
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add2" name="address_line_2" placeholder="Address line 01" required>
                                {% comment %} <span class="placeholder" data-placeholder="Address line 02"></span> {% endcomment %}
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="country" name="country" placeholder="Country" required>
                                {% comment %} <span class="placeholder" data-placeholder="Town/City"></span> {% endcomment %}
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                                {% comment %} <span class="placeholder" data-placeholder="Town/City"></span> {% endcomment %}
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                                {% comment %} <span class="placeholder" data-placeholder="Town/City"></span> {% endcomment %}
                            </div>
                             <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="order_note" name="order_note" placeholder="Notes">
                                {% comment %} <span class="placeholder" data-placeholder="Town/City"></span> {% endcomment %}
                            </div>
                            {% comment %} <div class="col-md-12 form-group p_star">
                                <select class="country_select" required>
                                    <option value="1">District</option>
                                    <option value="2">District</option>
                                    <option value="4">District</option>
                                </select>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">
                            </div> {% endcomment %}
                            {% comment %} <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Create an account?</label>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <h3>Shipping Details</h3>
                                    <input type="checkbox" id="f-option3" name="selector">
                                    <label for="f-option3">Ship to a different address?</label>
                                </div>
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                            </div> {% endcomment %}
                        {% comment %} </form> {% endcomment %}
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box mt-5 pt-5">
                            <h2>Your Order</h2>
                            
                            <ul class="list">
                            
                                <li><a href="#">Product<span>Total</span></a></li>
                                {% for cart_item in cart_items %}
                                <li><a href="#">{{ cart_item.product.product_name }}<span class="middle">x {{ cart_item.quantity }}</span> <span class="last">₹{{ cart_item.sub_total }}</span></a></li>

                             {% endfor %}
                            <ul class="list list_2">
                                <li><a href="#">Net total <span>₹{{total}}</span></a></li>
                                <li><a href="#">tax <span>Flat rate: ₹{{tax}}</span></a></li>
                                <li><a href="#">Grand total <span>₹{{grand_total}}</span></a></li>
                            </ul>
                            {% comment %} <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">Check payments</label>
                                    <div class="check"></div>
                                </div>
                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                    Store Postcode.</p>
                            </div> {% endcomment %}
                            {% comment %} <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">Paypal </label>
                                    <img src="{% static 'img/product/card.jpg' %}" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                    account.</p>
                            </div> {% endcomment %}
                            {% comment %} <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div> {% endcomment %}
                            {% comment %} <a class="primary-btn" type="submit" href="#">Proceed to Paypal</a> {% endcomment %}
                            <button type ="submit" class="primary-btn" style="width:294px;height:45px;" >place order</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

{%endblock%}