{% extends 'base.html' %}
{% load static %}
{%block content%}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->


	<section class="login_box_area section_gap">
    
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ single_product.image1.url }}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ single_product.image2.url }}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ single_product.image3.url }}" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{single_product.product_name }}</h3>
						<h2>₹{{single_product.price}}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>{{single_product.category}}</span> :{{single_product.sub_category}} </a></li>
                            {% if single_product.stock <= 0 %}
							<li><a href="#"><span>Availibility</span> : Out of Stock</a></li>
                            {% else %}
                            <li><a href="#"><span>Availibility</span> :In Stock</a></li>
                            {% endif %}
						</ul>
						<p>{{single_product.description}}.</p>
						
						<div class="card_area d-flex align-items-center">
                        {% if single_product.stock <= 0 %}
                        <h5 class="text-danger m-2">Out of Stock</h5>
                        {% else %}
						{% if in_cart %}
						<button class="btn btn-success m-2"><span class="text">Added to Cart</span><i class="fas fa-check"></i></button>
						
						<a class="btn btn-outline-primary m-2" href="{% url 'cart' %}"><span class="text">view Cart</span><i class="fas fa-eye"></i></a>
						{% else %}
							<a class="primary-btn" href="{% url 'add_cart' single_product.id %}">Add to Cart</a>
							  {% endif %}
                            {% endif %}
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
        

    </section>
	<!--================End Single Product Area =================-->
	

	

	

    
{%endblock%}