{% extends 'baseadmin.html' %}
{% load static %}
{% block content %}
<div class= "container text-center">
	{% if messages %}
					<div id="messages" class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show text-center"{% endif %} role="alert">
        {% if message.level == DEFAdivT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<a href="{% url 'add_variation' %}" class="btn btn-primary btn-md">Add</a>
            {% if variation %}
         <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">product</th>
                <th scope="col">variation category</th>
                <th scope="col">variation value</th>
                <th scope="col">available</th>
                <th scope="col">created</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in variation %}
                
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.product}}</td>
                <td>{{i.variation_category}}</td>
                <td>{{i.variation_value}}</td>
                <td>{{i.is_active}}</td>
                <td>{{i.created_at}}</td>
                
                <td><a href="{% url 'delete_variation' i.id%}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_variation' i.id%}" class="btn btn-warning btn-sm">Update</a></td>
                    
                    
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h4 class= "text-center">No records</h4>
          {% endif %}
                <!-- Start pagination -->
          <nav class="mb-3 mt-3" aria-label="page navigation sample">
          {% if variation.has_other_pages %}
            <ul class="pagination">
            {% if variation.has_previous %}
              <li class="page-item"><a class="page-link "href="?page={{variation.previous_page_number}}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link "href="#">Previous</a></li>
              {% endif %}
              {% for i in variation.paginator.page_range %}
              {% if variation.number == i %}
               <li class="page-item active"><a class="page-link "href="#">{{i}}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link "href="?page={{i}}">{{i}}</a></li>
               {% endif %}
               {% endfor %}
               {% if variation.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{variation.next_page_number}}">Next</a></li>
              {% else %}
               <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
          <!-- End pagination -->
          </div>
{% endblock %}